<div class="input-field">
  <%= label_tag(:stripeCompany) do %>
    <%= icon_tag "user-avatar" %>
    <span>Firma</span>
  <% end %>
  <%= text_field_tag :stripeCompany, nil, placeholder: 'Firma (optional)' %>
</div>

<div class="input-field">
  <%= label_tag(:stripeAddressName) do %>
    <%= icon_tag "user-avatar" %>
    <span>Name</span>
  <% end %>
  <%= text_field_tag :stripeAddressName, nil, placeholder: 'Vor- & Nachname' %>
</div>

<div class="input-field">
  <%= label_tag(:stripeAddress) do %>
    <%= icon_tag "map-location" %>
    <span>Strasse & Nr.</span>
  <% end %>
  <%= text_field_tag :stripeAddress, nil, placeholder: 'Strasse & Nr.' %>
</div>

<div class="input-field">
  <%= label_tag(:stripePostalCode) do %>
    <%= icon_tag "map-location" %>
    <span>Postleitzahl</span>
  <% end %>
  <%= text_field_tag :stripePostalCode, nil, placeholder: 'PLZ' %>
</div>

<div class="input-field">
  <%= label_tag(:stripeCity) do %>
    <%= icon_tag "map-location" %>
    <span>Ort/Stadt</span>
  <% end %>
  <%= text_field_tag :stripeCity, nil, placeholder: 'Stadt' %>
</div>
